{% extends 'base.html.twig' %}

{% block main %}
    <h1>Produit n° {{ product.id }}</h1>
    <p>Marque : {{ brand.name }}</p>
    <p>Boite à vitesse : {{ gearbox.name }} </p>
    <p>Count : {{ product.viewCounter }} </p>
{% endblock %}

