<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/dist{{ asset('main.css') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block body %}
        {% block header %}
            {{ include('layout/menu.html.twig') }}
        {% endblock %}

        <main class="container">
            {% block main %}
            {% endblock %}
        </main>



    {% endblock %}
    </body>
</html>
