<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/dist{{ asset('main.css') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block body %}
        {% block header %}
        {% endblock %}

        {% block main %}
        {% endblock %}


    {% endblock %}
    </body>
</html>
