<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="/dist{{ asset('main.css') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block body %}
        {{ include('layout/menu.html.twig') }}

    <div class="container">
        {% block main %}
        {% endblock %}
    </div>




    {% endblock %}
    </body>
</html>
