{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block main %}
    <h1>Accueil</h1>

    <ul>
        {% for product in products %}
            <li> <a href="{{ path("product" , {'productId':product.getId }) }}">{{ product.getBrand|upper }}</a> </li>
        {% endfor %}
    </ul>
{% endblock %}